body{
    margin: 40px;
    
}
.form-label{
    font-weight: bold;
}
.title{
    font-size: 30px;
  
}
.line{
    margin-top: 30px;
    margin-bottom: 30px;
}

#date, #purchaseOrderNumber, #invoiceDue{
    width: 250px;
    margin-bottom: 10px;
}
